site_name: ASP.NET 5 Web API Workshop
site_url: 
site_author: Chris Woodruff
site_description: >-
  ASP.NET 5 Web API Workshop

# Repository
repo_name: cwoodruff/aspnet-5-web-api-workshop
repo_url: https://github.com/cwoodruff/aspnet-5-web-api-workshop
edit_uri: ""

# Page tree
nav:
    - Home: index.md
    - About: about.md
    - Getting Started:
        - Introduction: introduction.md
        - Required Technology: required-tech.md
        - Installing ASP.NET 5: installing-aspnet-5.md
        - Installing SQL Server: installing-mssql.md
        - Setting up Azure SQL: setting-up-azure-sql.md
        - Instlling Postman: installing-postman.md
    - Standing up a Web API:
        - What is a Web API?: Standing Up an ASP.NET Core Web API/what-is-a-web-api.md
        - What is REST?: Standing Up an ASP.NET Core Web API/what-is-rest.md
        - Your first ASP.NET Core Web API: Standing Up an ASP.NET Core Web API/your-first-aspnet-core-web-api.md
        - Developing Data Access for your Web API: Standing Up an ASP.NET Core Web API/develop-data-access.md
        - Handling Errors in your API: Standing Up an ASP.NET Core Web API/handling-errors.md
        - Caching Data in Your API: Standing Up an ASP.NET Core Web API/caching-data.md
        - Identity in your Web API: Standing Up an ASP.NET Core Web API/identity.md
        - Versioning your Web API: Standing Up an ASP.NET Core Web API/versioning.md
        - Documenting your API with Swagger: Standing Up an ASP.NET Core Web API/documenting-with-swagger.md
    - Testing Your API:
        - Creating and using Unit Testing for your API: Testing Your AP/unit-testing.md
        - Creating and using Integrating Testing for your API: Testing Your AP/integration-testing.md
    - Simple NTier Web API:
        - Designing the NTier API: Developing a Simple NTier Architecture for ASP.NET Core Web API/designing-ntier-api.md
        - Developing the API endpoints: Developing a Simple NTier Architecture for ASP.NET Core Web API/ntier-api-endpoints.md
        - Developing the API Data access: Developing a Simple NTier Architecture for ASP.NET Core Web API/ntier-data-access.md
        - Using the Repository Pattern in You API Architecture: Developing a Simple NTier Architecture for ASP.NET Core Web API/ntier-repository-pattern.md
    - Domain Driven Web API:
        - Designing the Domain-Driven API: Developing a Domain Driven Architecture for ASP.NET Core Web API/domain-drive-api.md
        - Using the Ports and Adapter Pattern in Your API Architecture: Developing a Domain Driven Architecture for ASP.NET Core Web API/ports-adapter-pattern.md
        - Developing the API Endpoints: Developing a Domain Driven Architecture for ASP.NET Core Web API/domain-drive-endpoints.md
        - Developing the API Application layer: Developing a Domain Driven Architecture for ASP.NET Core Web API/domain-drive-app-layer.md
        - Developing the API Domain: Developing a Domain Driven Architecture for ASP.NET Core Web API/domain-drive-domain.md
        - Developing the API Infrastructure layer: Developing a Domain Driven Architecture for ASP.NET Core Web API/domain-drive-infrastructure.md
        - How to Test your Domain-Driven API: Developing a Domain Driven Architecture for ASP.NET Core Web API/domain-drive-testing.md
    - Hypermedia Web API:
        - Designing the Hypermedia API: Developing a Hypermedia Architecture for ASP.NET Core Web API/designing-hypermedia-api.md
        - Using the HATEOAS Constraint in your API: Developing a Hypermedia Architecture for ASP.NET Core Web API/hateoas-constraint-api.md
        - Generating the JSON Representation for the API Resources: Developing a Hypermedia Architecture for ASP.NET Core Web API/generating-json-rep-for-api.md
        - Generating Hypermedia links in Domain-Driven ASP.NET Core Web API: Developing a Hypermedia Architecture for ASP.NET Core Web API/generating-hyperlinks-for-api.md
        - How to Test your Hypermedia API: Developing a Hypermedia Architecture for ASP.NET Core Web API/hypermedia-testing.md
    
plugins:
    - search


theme:
  name: material

  # 404 page
  static_templates:
    - 404.html

  # Necessary for search to work properly
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo
  features:
    - navigation.sections
    - navigation.tabs
    
# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cwoodruff
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/cwoodruff
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/chriswoodruff/
      
 # Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde